/*
* Gemari css is a css library for biulding web psges fast 
* it also can be seen as collection of usefull css snippet :P. 
* Created on Dec 5 2017
* Author Yiwosin da 
* URL https://github.com/yonihab
*/



/******* Body and stuff ****/
body{
	margin: 0;
	padding: 0;
	font-family: Arial, Helvetica, sans-serif;
	
}


/****** Utilities *********/
.responsive-img{
	width: 100%;
	height: 100%;
}
.no-padding{
	padding: 0 !important;
}
.no-margin{
	margin: 0 !important;
}
.right{
	float: right !important;
}
.left{
	float: left !important;
}

/****** Colors *********/

.green{
	background-color: #20ca35 !important;

}
.red{
	background-color: #f11e1e !important;
}
.yellow{
	background-color: #fff119 !important;
}
.light-blue{
	background-color: #1eadf1 !important;
}
.purple{
	background-color: #7b1bf9 !important;
}
.blue{
	background-color: #1b5ff9 !important;
}
.black{
	background-color: #29252f !important;
}
/******* Text Colors *********/

.white-text{
	color: #fff !important;
}
.black-text{
	color: #111 !important;
}

/******* Layout *********/
.container{
	
	width: 100%;
	display: flex;
	justify-content: center;
	
	
}



/******* Buttons *********/

.btn {
	padding: 12px 18px;
	background: #e0e4d6;
	border: none;
	border-radius: 4px;
	cursor: pointer;
	text-shadow: 1px -1px 1px rgba(0,0,0,0.2);
	margin: 2px;
	font-size: 1rem;
	font-weight: 600;
}
.btn:hover {
	transition: 0.3s;
	opacity: .9;
}
.btn.btn-block{
	width: 100%;
}
.btn.btn-green{
	background-color: #20ca35 !important;
	color: #fff !important;
}
.btn.btn-red{
	background-color: #f11e1e !important;
	color: #fff !important;
}
.btn.btn-blue{
	background-color: #1b5ff9;
	color: #fff !important;
}
.btn.btn-yellow{
	background-color: #fff119;
	color: #111 !important;
}
.btn.btn-light-blue{
	background-color: #1eadf1;
	color: #fff !important;
}
.btn.btn-black{
	background-color: #29252f;
	color: #fff !important;
}

/********* Cards *********/

.card{
	background-color: #fafafa;
	margin: 3px;
	overflow: hidden;
	border-radius: 4px;
	box-shadow: 0 1px 2px 0 rgba(0,0,0,0.2),0 2px 3px 0 rgba(0,0,0,0.2);

}
.card>img{
	width: inherit;
}
.card-content{
	padding: 8px 16px;
}
.card.small{
	width: 300px;
}
.card.medium{
	width: 350px;
}
.card.large{
	width: 500px;
}
.center{
	/*justify-content: center;*/
	text-align: center;
}
